/*-------Concentrate Yo -------*/

.project-concentrateYo__grid-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 1rem;
    .imgTile-container {
        position: relative;
        width: $tile-size;
        height: $tile-size;
        margin: 0rem;
        padding: 0;
    }
    p {
        &.closed {
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: #888;
            opacity: 1;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
            transition: opacity 1s ease-in-out;
        }
        &.open {
            background-color: transparent;
            padding: 0;
            margin: 0;
            position: absolute;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
        }
        &.done {
            padding: 0;
            margin: 0;
            position: absolute;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
        }
        &.done+img {
            visibility: hidden;
            opacity: 0;
            transition: visibility 1s ease-in-out, opacity 1s;
        }
    }
    img {
        display: inline-block;
        position: absolute;
        width: $tile-size;
        height: $tile-size;
        border: 2px solid black;
    }
}