/*-------Concentrate Yo -------*/

.project-concentrateYo__grid-container {
    display: grid;
    display: -ms-grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 1rem 0 1rem 0;
    .imgTile-container {
        position: relative;
        width: $tile-size;
        margin: 0rem;
        padding-bottom: 100%;
        min-width: 80px;
        @media screen and (max-width: 900px){
            min-width: initial;
        }
    }
    p {
        &.closed {
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: #888;
            opacity: 1;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
            -webkit-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
        &.open {
            background-color: transparent;
            padding: 0;
            margin: 0;
            position: absolute;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
        }
        &.done {
            padding: 0;
            margin: 0;
            position: absolute;
            height: $tile-size;
            width: $tile-size;
            z-index: 1;
        }
        &.done+img {
            visibility: hidden;
            opacity: 0;
            -webkit-transition: visibility 1s ease-in-out, opacity 1s;
            -o-transition: visibility 1s ease-in-out, opacity 1s;
            transition: visibility 1s ease-in-out, opacity 1s;
        }
    }
    img {
        display: inline-block;
        position: absolute;
        width: $tile-size;
        height: $tile-size;
        border: 2px solid black;
    }
}