/*-------Speed Test -------*/

.project-speedTest__body p {
    font-size: 1.2rem;
}

.project-speedTest__instruct {
    margin: 0;
    font-size: 1.2rem;
}

#project-speedTest__prompt {
    font-size: 1.1rem;
    background-color: #d1d1d1;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 0 0 1rem 0;
}