.welcome-header {
    margin-top: 2rem;
}


::-webkit-scrollbar {
        width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}


/*---------Site Logo---------*/

.logo__text a {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3rem;
    text-decoration-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #59CD90;
    -webkit-text-stroke: 2px black;
}


/*---------Navigation---------*/

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding: 1rem;
}

.nav__nav-link:hover {
    text-decoration: underline;
}

/*---------Header-Side---------*/

.welcome-header-side .logo {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0;
}

.welcome-header-side .nav {
    position: absolute;
    right: 10%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 400px;
}


@media only screen and (min-width: 992px) {
    .welcome-header-side-md {}
    .welcome-header-side-md .logo {
        position: absolute;
        top: 10%;
        left: 10%;
        margin: 0;
    }

    .welcome-header-side-md .nav {
        position: absolute;
        right: 10%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        height: 400px;
    }
}

/*---------Header-Top---------*/

.header-top {
    background: #90DDF0;
    margin-left: -1rem;
    margin-right: -1rem;
}

@media only screen and (min-width: 992px) {
    .header-top {
        display: flex;
        align-items: center;
        justify-content: center;
        /*        border: 2px solid black;*/
        position: relative;
        height: 150px;

    }

    .header-top .logo {
        position: absolute;
        /*    border: 2px solid black;*/
        margin-left: 1rem;
        left: 0;
    }

    .header-top nav {
        /*    border: 2px solid black;*/
        width: 50%;
    }

    .header-top .nav {
        display: flex;
        justify-content: space-around;
        /*    border: 2px solid black;*/
    }

    .header-top .nav__nav-item {
        /*    border: 2px solid black;*/
    }

    .header-top .nav__nav-link {
        display: inline-block;
        padding: 1rem;
    }

    .welcome-header-top {
        display: flex;
        align-items: center;
        justify-content: center;
        /*        border: 2px solid black;*/
        position: relative;
        height: 150px;
    }

    .welcome-header-top .logo {
        position: absolute;
        /*    border: 2px solid black;*/
        margin-left: 1rem;
        left: 0;
    }

    .welcome-header-top nav {
        /*    border: 2px solid black;*/
        width: 50%;
    }

    .welcome-header-top .nav {
        display: flex;
        justify-content: space-around;
        /*    border: 2px solid black;*/
    }

    .welcome-header-top .nav__nav-item {
        /*    border: 2px solid black;*/
    }

    .welcome-header-top .nav__nav-link {
        display: inline-block;
        padding: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .header-top-md {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;



        /*        border: 2px solid black;*/
    }

    .header-top-md .logo {}

    .header-top-md nav {
        /*    border: 2px solid black;*/
        width: 50%;
    }

    .header-top-md .nav {
        display: flex;
        justify-content: space-around;
        /*    border: 2px solid black;*/
    }

    .header-top-md .nav__nav-item {
        /*    border: 2px solid black;*/
    }

    .header-top-md .nav__nav-link {
        display: inline-block;
        padding: 1rem;
    }

    .welcome-header-top-md {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /*        border: 2px solid black;*/
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .welcome-header-top-md .logo {}

    .welcome-header-top-md nav {
        /*    border: 2px solid black;*/
        width: 50%;
    }

    .welcome-header-top-md .nav {
        display: flex;
        justify-content: space-around;
        /*    border: 2px solid black;*/
    }

    .welcome-header-top-md .nav__nav-item {
        /*    border: 2px solid black;*/
    }

    .welcome-header-top-md .nav__nav-link {
        display: inline-block;
        padding: 1rem;
    }
}


/*---------About Page---------*/

.container-welcome {
    position: relative;
    height: 100%;
    /*    background-color: aquamarine;*/
    background: #90DDF0;
    /* fallback for old browsers */
    /*    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*    background: linear-gradient(to right, #348AC7, #7474BF);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-welcome__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-welcome__inner h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

.container-welcome__inner h2 {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 576px) {
    .container-welcome__inner h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .container-welcome__inner h2 {
        font-size: 1rem;
    }
}

.container-welcome__bottom-text {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-welcome__bottom-text h3 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.container-welcome__bottom-text p {
    height: 3rem;
    margin: 0;
}

.container-welcome__bottom-text a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
    animation: aboutme-arrow-pulse 2s ease-out infinite;
}

@keyframes aboutme-arrow-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

.container-about-me {
/*    height: 100%;*/
}

.container-about-me .row {

    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

/*
.container-about-me .row:hover {
    animation: container-shadow-hover 2s;
}


 Standard syntax 
@keyframes container-shadow-hover {
    from {box-shadow: 2px 4px;}
    to {box-shadow: 4px 8px;}
}
*/

.container-about-me__heading {
    text-align: center;
    padding-top: 1rem;
}

.container-about-me {
    /*    color: white;*/
}

.block-mich {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.mich_logo {
    width: 40px;
    height: 28.766px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.container-skills {
    /*    border: 2px solid black;*/
/*    height: 100%;*/
}

.container-skills .row {
    /*    height: 100vh;*/
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

.container-skills__heading {
    text-align: center;
    padding-top: 1rem;
}


.skills-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills-list__group {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    align-items: center;
}

.skills-list__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.skills-list__group-item {
    display: flex;
}


.skills-list__item {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.skills-list__img {
    margin-top: 1rem;
    width: 50px;
}

.container-end-about {
/*    height: 100%;*/
}

.container-end-about .row {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 10px 8px;
}







/*---------The Bayground---------*/

.container-bayground-projects {
    /*    border: 2px solid black;*/
/*    height: 100%;*/
}

.container-bayground-projects__header {
    text-align: center;
}

.container-bayground-projects__info {
    text-align: center;
}

.container-bayground-projects .row {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

.container-modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

