.container-welcome {
    position: relative;
    height: 100%;
    width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    background: #90DDF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .container-welcome__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            margin: 1rem 0 1rem 0;
            @include for-tablet-portrait-up {
                font-size: 3rem;
            }
        }
        h2 {
            font-size: 1rem;
            margin: 1rem 0 1rem 0;
            @include for-tablet-portrait-up {
                font-size: 1.3rem;
            }
        }
    }
}

.container-welcome__bottom-text {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    h3 {
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0;
    }
    p {
        height: 3rem;
        margin: 0;
    }
    a {
        color: black;
        text-decoration: none;
        font-size: 3rem;
        animation: aboutme-arrow-pulse 2s ease-out infinite;
    }
}

@keyframes aboutme-arrow-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

.container-about-me__heading {
    padding-top: 1rem;
}

.personal-photo-container {
    display: flex;
    @include for-tablet-portrait-up {
        display: block;
    }
    #personal-photo {
        display: block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        @include for-tablet-portrait-up {
            float: left;
        }
    }
}

.block-mich {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.mich_logo {
    width: 40px;
    height: 28.766px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.container-skills .row {
    /*    height: 100vh;*/
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills-type {
    font-weight: 700;
    font-size: 1.4rem;
}

.skills-list__group {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    align-items: center;
}

.skills-list__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.skills-list__group-item {
    display: flex;
}

.skills-list__item {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.skills-list__img {
    margin-top: 1rem;
    width: 50px;
}

.container-end-about .row {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

.about-bottom {
    height: 300px;
    padding-bottom: $footer-height;
    display: flex;
    align-content: center;
    align-items: center;
    p {
        font-size: 1.4rem;
    }
}