/*---------Contact Page---------*/

.contact-container {
    padding-bottom: $footer-height;
    height: 100%;
}

.container-contact-form h1 {
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact-send-btn {
    padding: 0.5rem 1rem;
    background-color: #59CD90;
    border-color: #59CD90;
}

.contact-required-msg {
    margin: 0;
    font-size: 1rem;
}