/*---------Contact Page---------*/

.contact-container {
    padding-top: 1rem;
    padding-bottom: $footer-height + 60px;
    height: 100%;
}

.container-contact-form h1 {
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact-send-btn {
    padding: 0.5rem 1rem;
    background-color: #59CD90;
    border-color: #59CD90;
}

.contact-required-msg {
    margin: 0;
    font-size: 1rem;
}

.success-msg-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: lightgray;
    .success-msg {
        opacity: 0;
        text-align: center;
        font-size: 1.2rem;
        z-index: 5;

    }
    &.show {
        height: 120px;
        .success-msg {
            opacity: 1;
        }
        transition: all 0.5s ease-in;
    }
    &.hide {
        height: 0px;
        .success-msg {
            opacity: 0;
        }
        transition: all 0.5s ease-in;
    }
}