.js-loading,
.js-loading:before,
.js-loading:after {
    animation-play-state: paused !important;
}

.project-container {
    padding-bottom: $footer-height;
}

.container-project-desc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-project-desc__project-item:nth-of-type(even) {
    animation: lightSpeedOutLeft 1s; // display: flex;
}

.container-project-desc__project-item:nth-of-type(odd) {
    animation: lightSpeedOutRight 1s; // display: flex;
}

@keyframes lightSpeedOutRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0) skewX(30deg);
        // transform: translateX(-200px);
        // -webkit-transform: translate3d(500px, 0, 0) skewX(30deg);
        // -webkit-transform: translateZ(0);
    }
    100% {
        // -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        // -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 1;
    }
}

@keyframes lightSpeedOutLeft {
    0% {
        opacity: 0;
        // transform: translateX(200px);
        transform: translate3d(-100%, 0, 0) skewX(-30deg);
        // -webkit-transform: translate(-500px, 0) skewX(30deg);
        // -webkit-transform: translateZ(0);
    }
    100% {
        // -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        // -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 1;
    }
}

.container-project-desc__project-item {
    max-width: 300px;
    height: 174px;
    margin: 0.5rem;
    position: relative; // width: 100%;
    // max-width: 600px;
    .container-project-desc__project-link {
        background-color: #000;
        display: block;
        .container-project-desc__project-img {
            background-color: #000;
            display: block;
            width: 100%;
            border: 2px solid black;
            margin: 0 auto;
        }
        .container-project-desc__project-img:hover {
            animation: fadeOut 0.75s;
            -webkit-animation: fadeOut 0.75s;
            -moz-animation: fadeOut 0.75s;
            -o-animation: fadeOut 0.75s;
        }
        .container-project-desc__project-title {
            background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
            color: white;
            font-size: 1.5rem;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            margin: auto;
            padding: 1rem;
            right: 0;
            left: 0;
        }
        .container-project-desc__project-title:hover {
            /*    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .5), rgba(0, 0, 0, .25));*/
            animation: fadeOut 1s ease-in-out;
            animation-fill-mode: forwards;
            -webkit-animation: fadeOut 1s ease-in-out;
            -webkit-animation-fill-mode: forwards;
            -moz-animation: fadeOut 1s ease-in-out;
            -moz-animation-fill-mode: forwards;
            -o-animation: fadeOut 1s ease-in-out;
            -o-animation-fill-mode: forwards;
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
    }
    100% {
        opacity: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
    }
    100% {
        opacity: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
    }
    100% {
        opacity: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .75), rgba(0, 0, 0, .5));
    }
    100% {
        opacity: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
}