/*---------Project Description Page---------*/

.project-desc-container {
    padding-bottom: $footer-height;
}

.container-project-background__project-btn {
    padding: 0.5rem 1rem;
    background-color: #59CD90;
    border-color: #59CD90;
}

.container-project-background__project-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.container-project-screenshot__project-item {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    overflow: auto;
    padding-bottom: 56.25%;
    border: 20px solid black;
    border-radius: 30px;
    position: relative;
}
 .container-project-screenshot__project-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
}