/*---------Footer---------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    .footer-inner {
        height: $footer-height;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: rgb(63, 63, 63);
        padding: 0 1rem;
    }
}

.github-logo {
    width: 40px;
    margin-right: 1.5rem;
    background-color: white;
    border-radius: 20px;
}

.footer-copyright {
    font-size: 1.2rem;
    color: white;
}

.linkedin-logo {
    margin-left: 1.5rem;
    width: 40px;
    padding: 0;
}