/*---------Footer---------*/

.container-footer .row {
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    background: rgb(63, 63, 63);
    margin-left: -1rem;
    margin-right: -1rem;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.github-logo {
    width: 40px;
    margin-right: 2rem;
    background-color: white;
    border-radius: 20px;
}


.footer-copyright {
    font-size: 1.2rem;
    color: white;
}

.linkedin-logo {
    margin-left: 2rem;
    width: 40px;
    padding: 0;
}