.welcome-header {
    background: #90DDF0;
    width: 100%;
    height: $header-height-portrait;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    @include for-tablet-landscape-up {
        position: static;
        height: auto;
    }
    .logo {
        @include for-tablet-landscape-up {
            position: absolute;
            top: 10%;
            left: 10%;
            margin: 0;
        }
    }
}

.header {
    background: #90DDF0;
    width: 100%;
    height: $header-height-portrait;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    @include for-tablet-landscape-up {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        /*        border: 2px solid black;*/
        height: $header-height-landscape;
    }
    .logo {
        @include for-tablet-landscape-up {
            position: absolute;
            margin-left: 1rem;
            left: 0;
        }
    }
}