/*---------Site Logo---------*/

.logo__text a {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3rem;
    text-decoration-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #59CD90;
    -webkit-text-stroke: 2px black;
}